name: "CI/CD — Build → Dockerize → Push to GHCR → Deploy to ECS"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: react-ci-cd
  ECS_CLUSTER: react-ci-cd-cluster
  ECS_SERVICE: react-ci-cd-service
  CONTAINER_NAME: react-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - run: npm ci
      - run: npm run build

      - uses: docker/setup-buildx-action@v3

      - run: |
          IMAGE_TAG=${GITHUB_SHA::8}
          docker build -t react-ecs-app:$IMAGE_TAG -t react-ecs-app:latest .
          docker tag react-ecs-app:$IMAGE_TAG ghcr.io/aqibhafeez473/react-ecs-app:$IMAGE_TAG
          docker tag react-ecs-app:latest ghcr.io/aqibhafeez473/react-ecs-app:latest
          echo "IMAGE_TAG=$IMAGE_TAG"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: aqibhafeez473
          password: ${{ secrets.GHCR_PAT }}

      - run: |
          docker push ghcr.io/aqibhafeez473/react-ecs-app:$IMAGE_TAG
          docker push ghcr.io/aqibhafeez473/react-ecs-app:latest
